*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width: 100vw;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 50px;
    background: #f53d2d;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    transition: transform .2s cubic-bezier(.4,0,.2,1)
}

.header .logo{
    font-size: 150%;
}

.header .functions{
    display: flex;
    gap: 10px;
}

.category{
    margin-top: 50px;
    width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-title{
    font-size: 120%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.category .items-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 140px;
}

.items-container .item{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item .item-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item .item-image img{
    width: 170.88px;
    height: 170.88px;
}