*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
.inset-border{
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: rgb(107, 112, 123);
    padding-top: 52px;
    font-size: 200%;
    font-weight: 600;
    color: white;
    border: 20px solid transparent;
    transition: 0.5s;
}
.inset-border:hover{
    cursor: pointer;
    border: 20px solid rgb(122, 122, 247);
}