*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
}
.inputs{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.inputs button{
    margin-right: 163px;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}


.table .last-td{
    display: flex;
    flex-direction: column;
    gap: 5px;
}