@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.flex-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.item{
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
}
.item:first-child{
    background-color: red;
    border-radius: 10px;
}
.item:nth-child(2){
    background-color: blue;
    border-radius: 50%;
}
.item:last-child{
    background-color: red;
    border-radius: 10px;
}