@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.header {
    height: 56px;
    width: 100%;
    background-color: rgb(151, 212, 249);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 36px;
}
.header-list-item {
    display: flex;
    gap: 20px;
    list-style: none;
    position: relative;
}
#icon1{
    position: absolute;
    top: 10px;
    left: 470px;
    color: black;
}
#icon2{
    position: absolute;
    top: 4px;
    left: 530px;
    color: white;
}
li{
    color: #fff;
    text-align: center;
}
.header-item1{
    margin-top: 6px;
}
.header-item2{
    margin-top: 6px;
}

input{
    width: 300px;
    border-radius: 5px;
    height: 36px;
    border: 1px solid #dadada;
}
img{
    width: 21.6px;
    border-radius: 50%;
    border: transparent;
}